<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header"}
    <title>宝仕龙</title>

</head>
<style>
    .inside-banner .banner_left{position:absolute;width:50%;height:100%;overflow:hidden;right:50%;background:#fff;z-index:10;}
    .inside-banner .banner_right{position:absolute;left:50%;width:50%;height:100%;overflow:hidden;background:#fff;z-index:10;}
    .inside-banner.active .banner_left{right:100%;transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-webkit-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-moz-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-ms-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-o-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);}
    .inside-banner.active .banner_right{left:100%;transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-webkit-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-moz-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-ms-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-o-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);}
    .inside-banner .banner_video {position: absolute;top: 0;width: 100%;height: 100%;}
    .inside-banner .banner_video video{object-fit:cover;width:100%;height:100%;}
    .inside-banner {overflow: hidden;position: relative;height: 100vh;}
    .inside-banner .banner_img{width:100%;height:100%;position:absolute;top:0;left:0;}
    .inside-banner.active .banner_video,.inside-banner.active .banner_img{transform:scale(1.02);-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-ms-transform:scale(1.02);-o-transform:scale(1.02);transform-origin:center center;transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-ms-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
    .inside-banner .banner_zz{position:absolute;top:0;width:100%;height:100%;background:linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);background: -moz-linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);background: -webkit-linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FB29A74',endColorstr='#000099cb',GradientType=0);}
    /*此样式在移动端时设置为block*/
    .vis_xs{display:none;}
    .inside-banner .shadows {position: absolute;z-index: 3;left: 50%;top: 0;bottom: 0;width: 0px;max-width: 320px;border-left: 1px solid #000;border-right: 1px solid #000;opacity: 0;-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-transition: opacity .75s,visibility .75s,width .75s;transition: opacity .75s,visibility .75s,width .75s;-webkit-transition-delay: .8s;transition-delay: .8s;pointer-events: none;}
    .inside-banner.active .shadows {width: 320px;opacity: 0.25;}
    .inside-banner .shadow {position: absolute;width: 47px;height: 100%;}
    .inside-banner .shadow.shadow-left {right: 100%;-webkit-transform: scale(-1);transform: scale(-1);}
    .inside-banner .shadow.shadow-right {left: 100%;}
    .inside-banner .banner_contair {width: 100%;height: 100%; display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .inside-banner .inside-banner-heading {-webkit-transition:none;transition:none;-webkit-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0)}
    .inside-banner.active .inside-banner-heading {pointer-events: none;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition: -webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: -webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: transform 1.6s cubic-bezier(.32,.32,0,.99) 0s,-webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;-webkit-transition-delay: 0.85s;transition-delay: 0.85s;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .inside-banner .sub-heading {visibility:hidden;opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
    .inside-banner.active .sub-heading {color: #fff;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;opacity: 1;visibility: inherit;-webkit-transition: opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;transition: opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;transition: transform 1.5s,opacity 1.5s,visibility 1.5s;transition: transform 1.5s,opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;-webkit-transition-delay: 0.85s;transition-delay: 0.85s;}
    .inside-banner-heading h2 {line-height: 80px;}
    .inside-banner-heading h2.inside-banner-title {font-size: 50px;}
    .inside-banner-heading h2.inside-banner-title2 {font-size: 25px;}

    /*eight-container*/
    .main {background-image: url("/static/images/inside/eight/tt_nav_bg.png");background-repeat: repeat;}
    .eight-container{width: 100%;height: 380px;}
    .eight-container-box{position: relative;width: 1560px;margin: 0 auto;}
    .eight-menu{position: absolute;top:-72px;}
    .eight-menu .eight-menu-title{display: block;width: 72px;height: 72px;padding: 10px;font-size: 24px;color: #fff;background: #a2192b;text-align: center;line-height: 1;box-sizing: border-box;}
    .eight-menu .eight-menu-text{line-height: 1;color: #c3c3c3;padding-top: 10px;font-size: 40px;text-transform: uppercase}
    .eight-menu .eight-menu-img{background-image: url(/static/images/logo.png);width: 130px;height: 130px;margin-top: 40px;margin-bottom: 10px;background-size: contain;background-position: bottom;background-repeat: no-repeat;}
    .eight-product{width: 864px;overflow: hidden;margin: 0 auto;position: relative;top: -120px;z-index: 5;}
    .eight-product-list{float: left;width: 50%;overflow: hidden;}
    .eight-product-list .eight-product-item{display: block;padding: 24px 0px;position: relative;float: left;width: 50%;overflow: hidden;z-index: 3;}
    .eight-product-list .eight-product-item::after{width: 100%;height: 100%;background: #EEEEEE;position: absolute;top: 0;left: 0;content: '';transform-origin: 100%;transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);transform: scaleX(0);z-index: -1;}
    .eight-product-list .eight-product-item-img{width: 120px;height: 100px;margin: 0 auto;}
    .eight-product-item:nth-child(1) .eight-product-item-img{background-image: url("/static/images/inside/eight/eight01.png");}
    .eight-product-item:nth-child(2) .eight-product-item-img{background-image: url("/static/images/inside/eight/eight02.png");}
    .eight-product-item:nth-child(3) .eight-product-item-img{background-image: url("/static/images/inside/eight/eight03.png");}
    .eight-product-item:nth-child(4) .eight-product-item-img{background-image: url("/static/images/inside/eight/eight04.png");}
    .eight-product-list .eight-product-item-text{width: 80%;margin: 0px auto;display: block;height: 39px;line-height: 1.4;color: #5b5b5b;text-align: center;font-size: 14px;}
    .eight-product-list:nth-child(1) {background: #FFFFFF;}
    .eight-product-list:nth-child(2){padding: 39px 25px;box-sizing: border-box;background: #a2192b;transform: translateY(18%);}
    .eight-product-list .eight-product-child{width: 50%;float: left;text-align: center;margin: 6px 0px;line-height: 38px;box-sizing: border-box;height: 38px;font-size:14px;position: relative;display: block;z-index: 2;}
    .eight-product-list .eight-product-child::before{width: 100%;height: 100%;background: #EEEEEE;position: absolute;top: 0;left: 0;content: '';transform-origin: 100%;transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);transform: scaleX(0);z-index: -1;}
    .eight-product-list .eight-product-child:hover::before{transform-origin: 0;transform: scaleX(1);}
    .eight-product-list .eight-product-item:hover::after{transform-origin: 0;transform: scaleX(1);}
    .eight-product-list .eight-product-item.active{background: #EEEEEE;}
    .eight-product-list .eight-product-item:hover .eight-product-item-text{color: #000;}
    .eight-product-list .eight-product-child.active{background: #EEEEEE;color: #5b5b5b;}
    .eight-product-list .eight-product-child:hover{color: #5b5b5b;}
    .eight-container .eight-down{position: absolute;left: 50%;bottom: 0px;cursor: pointer;}
    .eight-container .eight-down img{width: 32px;height: auto;animation: pagedown 1.5s linear infinite;}
    @keyframes pagedown {
        from{
            transform: translateY(-10%);
        }
        50%{transform: translateY(10%)}
        to{transform: translateY(-10%)}
    }
    @media screen and (max-width: 1600px){.eight-container-box{width: 1180px;}  .eight-product{width: 754px;}}

    .scene-section {background-color: #3e3c3b;padding: 30px 0;}
    .scene-container {width: 100%;max-width: 1600px;margin: 20px auto 0;}
    .scene-inner {position: relative;}
    .scene-btnbox {position: absolute;z-index: 1;top: 0;left: 0;right: 0;bottom: 0;}
    .scene-btnbox-section {position: absolute;z-index: 2;width: 60px;}
    .scene-btnbox-section span {position: absolute;cursor: pointer;background-color: #e6002d;color: white;width: 35px;height: 35px;padding: 4px;border-radius: 35px;display: none;opacity: 0;-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);-webkit-transition: -webkit-transform 1s, background-color 0.5s,opacity 0.75s;-moz-transition: -moz-transform 1s, background-color 0.5s,opacity 0.75s;transition: transform 1s, background-color 0.5s,opacity 0.75s;}
    .scene-btnbox-section span.active {opacity: 1 !important;display: inline !important;transition: all 1s;animation: fd 1s linear 1s infinite alternate;}
    .scene-btnbox-section span:nth-child(2) {top: 40px;}
    .scene-btnbox-section span:nth-child(3) {top: 80px;}
    .scene-btnbox-section span:nth-child(4) {top: 120px;}
    .scene-btnbox-section img {}
    .scene-inner[data-scene='living'] .scene-btnbox-section {}
    .scene-inner[data-scene='living'] .scene-btnbox-section[data-scene='top'] {top: 12%;left: 28%}
    .scene-inner[data-scene='living'] .scene-btnbox-section[data-scene='light'] {top: 12%;left: 53%}
    .scene-inner[data-scene='living'] .scene-btnbox-section[data-scene='leftwall'] {top: 30%;left: 5%}
    .scene-inner[data-scene='living'] .scene-btnbox-section[data-scene='rightwall'] {top: 30%;right: 5%;}

    .scene-inner-container {position: relative;}
    .scene-inner-container img {position: absolute;width: 100%;top: 0;opacity: 0;-webkit-transition: all ease .5s;-moz-transition: all ease .5s;-ms-transition: all ease .5s;-o-transition: all ease .5s;transition: all ease .5s;}
    .scene-inner-container img[data-scene="base"] {position: relative;top: 0;left: 0;}
    .scene-inner-container img[data-scene='base'],.scene-inner-container img[data-idx="0"] {opacity: 1;}
    @keyframes fd{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.2)
        }
        100%{
            transform: scale(1)
        }
    }




</style>
<body>

<div class="header">
    <div class="header1">
        <div class="nav-container">
            <div class="logo"><a href="../../../../page/index.html"><img src="/static/images/common/logo-top-white.png" alt="" width="155"></a></div>
            <a href="javascript:;">
                <div class="left-header mshow">
                    <div class="navbar">
                        <span class="nav"></span>
                        <span class="nav"></span>
                        <span class="nav"></span>
                    </div>
                    <div class="search nav-item">
                        <!--<img src="/static/images/icon-search.png" alt="">-->
                        <i class="iconfont icon-iconsearch"></i>
                        <span>SEARCH</span>
                    </div>
                </div>
            </a>
            <a href="javascript:;">
                <div class="right-header mshow">
                    <div class="nav-item">
                        <a href="eight.html">
                            <i class="iconfont icon-fenlei"></i>
                            <!--<img src="/static/images/icon-brands.png" alt="">-->
                            <span>八大空间</span>
                        </a>

                    </div>
                    <div class="nav-item">
                        <a href="../../../../page/join.html">
                            <i class="iconfont icon-lock"></i>
                            <!--<img src="/static/images/icon-stock.png" alt="">-->
                            <span>加盟合作</span>
                        </a>

                    </div>
                </div>
            </a>
            <div class="nav-item close mhidden">
                <img src="/static/images/icon-close.png" alt="">
                <span>CLOSE</span>
            </div>

        </div>
    </div>

    <div class="header2">
        <div class="nav-container">
            <div class="logo"><a href="../../../../page/index.html"><img src="/static/images/common/logo-top-white.png" alt="" width="155"></a></div>
            <a href="javascript:;">
                <div class="left-header mshow">
                    <div class="navbar">
                        <span class="nav"></span>
                        <span class="nav"></span>
                        <span class="nav"></span>
                    </div>
                    <div class="search nav-item">
                        <!--<img src="/static/images/icon-search.png" alt="">-->
                        <i class="iconfont icon-iconsearch"></i>
                        <span>SEARCH</span>
                    </div>
                </div>
            </a>
            <div class="nav_t nav_t1">
                <ul class="clearfix">
                    <li>
                        <a href="../../../../page/index.html">首页</a>
                    </li>
                    <li>
                        <a href="brand.html">走进宝仕龙</a>
                        <div class="header2-comboBox">
                            <a href="brand.html" class="comboBox-list">走进宝仕龙</a>
                            <a href="brand.html" class="comboBox-list">品牌文化</a>
                            <a href="../../../../page/topshop.html" class="comboBox-list">工厂1号店</a>
                            <a href="../../../../page/museum.html" class="comboBox-list">吊顶博物馆</a>
                        </div>
                    </li>
                    <li>
                        <a href="eight.html">定制生活馆</a>
                        <div class="header2-comboBox">
                            <a href="eight.html"  class="comboBox-list">生活DIY</a>
                            <!-- <a href="javascript:;" class="comboBox-list" >设计理念</a> -->
                            <a href="../../../../page/live_museum.html" class="comboBox-list">百套案例</a>
                            <a href="../../../../page/live_museum.html" class="comboBox-list">万城万景</a>
                            <a href="../../../../page/remould.html" class="comboBox-list">旧屋改造</a>
                        </div>
                    </li>
                    <li>
                        <a href="../../../../page/news.html" >新闻中心</a>
                        <div class="header2-comboBox">
                            <a href="../../../../page/news.html" class="comboBox-list">企业新闻</a>
                            <a href="../../../../page/news.html" class="comboBox-list">市场新闻</a>
                            <a href="../../../../page/news-video.html" class="comboBox-list">企业视频</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nav_t nav_t2">
                <ul class="clearfix">
                    <li>
                        <a href="javascript:;" >品牌见证</a>
                        <div class="header2-comboBox">
                            <a href="../../../../page/brandWitness1.html" class="comboBox-list">设计师</a>
                            <a href="../../../../page/cooperation.html" class="comboBox-list">大咖品推官</a>
                            <a href="../../../../page/say.html" class="comboBox-list">TA有话说</a>
                        </div>
                    </li>
                    <li>
                        <a href="../../../../page/service.html" >服务中心</a>
                        <div class="header2-comboBox">
                            <a href="../../../../page/service.html#customer" class="comboBox-list">客服中心</a>
                            <a href="../../../../page/service.html#need" class="comboBox-list">客户中心</a>
                            <a href="../../../../page/contact.html" class="comboBox-list">我要反馈</a>
                        </div>
                    </li>
                    <li>
                        <a href="../../../../page/join.html" >招商合作</a>
                        <div class="header2-comboBox">
                            <a href="../../../../page/join.html" class="comboBox-list">加盟共赢</a>
                            <a href="../../../../page/franchisee.html" class="comboBox-list">加盟流程</a>
                            <a href="../../../../page/cooperate-people.html" class="comboBox-list">商学院</a>
                            <a href="../../../../page/pos.html" class="comboBox-list">大商样板</a>
                            <a href="../../../../page/live-grid-sketch.html" class="comboBox-list">大单分享</a>
                        </div>
                    </li>
                    <li>
                        <a href="../../../../page/contact.html" >联系我们</a>
                        <div class="header2-comboBox">
                            <a href="../../../../page/recruit.html" class="comboBox-list">招贤纳士</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a href="javascript:;">
                <div class="right-header mshow">
                    <div class="nav-item">
                        <a href="eight.html">
                            <i class="iconfont icon-fenlei"></i>
                            <!--<img src="/static/images/icon-brands.png" alt="">-->
                            <span>八大空间</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a href="../../../../page/join.html">
                            <i class="iconfont icon-lock"></i>
                            <!--<img src="/static/images/icon-stock.png" alt="">-->
                            <span>加盟合作</span>
                        </a>
                    </div>
                </div>
            </a>
            <div class="nav-item close mhidden">
                <img src="/static/images/icon-close.png" alt="">
                <span>CLOSE</span>
            </div>

        </div>
    </div>
</div>
    <div class="main">
        <div class="inside-banner">
            <div class="banner_img hid_xs" style="background:url(/static/images/inside/eight/eight-banner.jpg) no-repeat center center;background-size:cover;"></div>
            <div class="banner_img vis_xs" style="background:url(/static/images/inside/eight/eight-banner.jpg) no-repeat center center;background-size:cover;"></div>
            <div class="banner_zz"></div>
            <div class="banner_left"></div>
            <div class="banner_right"></div>
            <div class="banner_contair">
                <div class="inside-banner-heading">
                    <div class="sub-heading">
                        <h2 class="inside-banner-title">相信品牌的力量</h2>
                        <h2 class="inside-banner-title2">真正的奢华  是内外兼修</h2>
                    </div>
                </div>
            </div>
            <div class="shadows">
                <img src="/static/images/common/shadow.png" alt="" class="shadow shadow-left">
                <img src="/static/images/common/shadow.png" alt="" class="shadow shadow-right">
            </div>

        </div>

        <div class="eight-section">

            <div class="eight-container">
                <div class="eight-container-box">
                    <div class="eight-menu">
                        <div class="eight-menu-title">产品展示</div>
                        <div class="eight-menu-text">product <br> show</div>
                        <div class="eight-menu-img"></div>
                    </div>
                    <div class="eight-product">
                        <div class="eight-product-list"data-target="bg-color">
                            <a href="javascript:;" class="eight-product-item show ">
                                <div class="eight-product-item-img"></div>
                                <div class="eight-product-item-text">极简风格</div>
                            </a>
                            <a href="javascript:;" class="eight-product-item">
                                <div class="eight-product-item-img"></div>
                                <div class="eight-product-item-text">轻奢风格</div>
                            </a>
                            <a href="javascript:;" class="eight-product-item">
                                <div class="eight-product-item-img"></div>
                                <div class="eight-product-item-text">新中式风格</div>
                            </a>
                        </div>
                        <div class="eight-product-list">
                            <a href="javascript:;" class="eight-product-child show">客厅</a>
                            <a href="javascript:;" class="eight-product-child">餐厅</a>
                            <a href="javascript:;" class="eight-product-child">厨房</a>
                            <a href="javascript:;" class="eight-product-child">浴室</a>
                            <a href="javascript:;" class="eight-product-child">阳台</a>
                            <a href="javascript:;" class="eight-product-child">卧室</a>
                            <a href="javascript:;" class="eight-product-child">书房</a>
                            <a href="javascript:;" class="eight-product-child">过道</a>
                        </div>
                    </div>
                    <div class="eight-down">
                        <img src="/static/images/common/page-down2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="scene-section">
            <div class="scene-container">

                <div class="scene-living scene-inner" data-scene="living">
                    <div class="scene-btnbox living-btnbox">
                        <div class="scene-btnbox-section" data-scene="top">
                            <span><img src="/static/images/inside/scene/living/icon-living-top0.png" data-scene="top" data-idx="0" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-top1.png" data-scene="top" data-idx="1" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-top2.png" data-scene="top" data-idx="2" alt=""></span>
                        </div>
                        <div class="scene-btnbox-section" data-scene="leftwall">
                            <span><img src="/static/images/inside/scene/living/icon-living-leftwall0.png" data-scene="leftwall" data-idx="0" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-leftwall1.png" data-scene="leftwall" data-idx="1" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-leftwall2.png" data-scene="leftwall" data-idx="2" alt=""></span>
                        </div>
                        <div class="scene-btnbox-section" data-scene="rightwall">
                            <span><img src="/static/images/inside/scene/living/icon-living-rightwall0.png" data-scene="rightwall" data-idx="0" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-rightwall1.png" data-scene="rightwall" data-idx="1" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-rightwall2.png" data-scene="rightwall" data-idx="2" alt=""></span>
                        </div>
                        <div class="scene-btnbox-section" data-scene="light">
                            <span><img src="/static/images/inside/scene/living/icon-living-light0.png" data-scene="light" data-idx="0" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-light1.png" data-scene="light" data-idx="1" alt=""></span>
                            <span><img src="/static/images/inside/scene/living/icon-living-light2.png" data-scene="light" data-idx="2" alt=""></span>
                        </div>
                    </div>
                    <div class="living-container scene-inner-container">
                        <img src="/static/images/inside/scene/living/scene-living-jj-base.png" data-scene="base" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-leftwall0.png" data-scene="leftwall" data-idx="0" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-rightwall0.png" data-scene="rightwall" data-idx="0" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-leftwall1.png" data-scene="leftwall" data-idx="1" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-rightwall1.png" data-scene="rightwall" data-idx="1" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-leftwall2.png" data-scene="leftwall" data-idx="2" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-rightwall2.png" data-scene="rightwall" data-idx="2" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-top0.png" data-scene="top" data-idx="0" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-top1.png" data-scene="top" data-idx="1" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-top2.png" data-scene="top" data-idx="2" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-light0.png" data-scene="light" data-idx="0" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-light1.png" data-scene="light" data-idx="1" alt="">
                        <img src="/static/images/inside/scene/living/scene-living-jj-light2.png" data-scene="light" data-idx="2" alt="">
                    </div>
                </div>



            </div>
        </div>

    </div>

    <div class="measure-container measure-common">
    	<div class="measure-tit">免费设计</div>
    	<div class="measure-tit1">专业设计师1对1家装指导</div>
    	<form action="" method="" class="measure">
    		<div class="measure-item">
    			<label><img src="/static/images/people.png" alt=""></label>
    			<input class="mul_input" placeholder="您的姓名"> 
    		</div>
    		<div class="measure-item">
    			<label><img src="/static/images/phone.png" alt=""></label>
    			<input class="mul_input"  placeholder="联系方式"> 
    		</div>
    		<div class="measure-item">
    			<label><img src="/static/images/add.png" alt=""></label>
    			<input class="mul_input" placeholder="所在楼盘"> 
    		</div>
    		<div class="button">
    			<input type="button" value="立即申请">
    		</div>
    	</form>
    </div>
    <div class="mutual on">
        <ul class="list">
    		<li>
    		    <a href="javascript:;">
    		        <div class="mutualIco">
    		            <img src="/static/images/ico2.png" alt="">
    					<div class="mutualIco-text">在线咨询</div>
    		        </div>
    		
    		        <span class="txt1">
    		            扫描二维码与销售顾问咨询
    		            <img src="/static/images/common/r-wx.jpg" alt="">
    		        </span>
    		    </a>
    		</li>
            <li>
                <a target="_blank"  class="vid-play-btn">
                    <div class="mutualIco">
                        <img src="/static/images/ico3.png" alt="">
    					<div class="mutualIco-text">免费量房</div>
                    </div>
                </a>
            </li>
    		<li>
    		    <a href="javascript:;">
    		        <div class="mutualIco">
    		            <img src="/static/images/ico1.png" alt="">
    					<div class="mutualIco-text">电话咨询</div>
    		        </div>
    		        <span class="txt1">400-887-7831 / 0573-86788519</span>
    		    </a>
    		</li>
            <li class="backtoTop">
                <a href="javascript:;">
                    <div class="mutualIco">
                        <img src="/static/images/ico4.png" alt="">
    					<div class="mutualIco-text">top</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!--公用-->
    <div class="footer">
            <div class="footer-top">
                <div class="top-list">
            		<div class="top-item">
            			<img src="/static/images/ico01.png" alt="">
            			<div class="top-item-txt">
            				防伪查询
            			</div>
            		</div>
            		<div class="top-item">
            			<img src="/static/images/ico02.png" alt="">
            			<div class="top-item-txt">
            				帮助中心
            			</div>
            		</div>
            		<div class="top-item">
            			<img src="/static/images/ico05.png" alt="">
            			<div class="top-item-txt">
            				天猫官方直营店
            			</div>
            		</div>
            		<div class="top-item">
            			<img src="/static/images/ico04.png" alt="">
            			<div class="top-item-txt">
            				宝仕龙商城
            			</div>
            		</div>
            		<div class="top-item backtoTop">
            			<img src="/static/images/ico5.png" alt="">
            		</div>
            	</div>
            </div>
        	<div class="footer-center">
        		<div class="footer-center-left">
        			<div class="footer-center-left-list">
        				<div class="footer-center-left-item">
        					<a href="../../../../page/index.html" >首页</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="brand.html" >走进宝仕龙</a>
        					<a href="brand.html" >品牌文化</a>
        					<a href="javascript:;" >工厂1号店</a>
        					<a href="../../../../page/museum.html" >吊顶博物馆</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="eight.html" >定制生活馆</a>
        					<a href="eight.html" >生活DIY</a>
        					<a href="../../../../page/live_museum.html">百套案例</a>
        					<a href="../../../../page/live_museum.html">万城万景</a>
        					<a href="../../../../page/remould.html">旧屋改造</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="../../../../page/news.html" >新闻中心</a>
        					<a href="../../../../page/news.html" >企业新闻</a>
        					<a href="../../../../page/news.html" >市场新闻</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="javascript:;" >品牌见证</a>
        					<a href="javascript:;" >设计师</a>
        					<a href="../../../../page/cooperation.html" >大咖品推官</a>
        					<a href="../../../../page/say.html" >TA有话说</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="../../../../page/service.html" >服务中心</a>
        					<a href="../../../../page/service.html#customer" >客服中心</a>
        					<a href="../../../../page/service.html#need" >客户中心</a>
        					<a href="../../../../page/contact.html" >我要反馈</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="../../../../page/join.html" >招商合作</a>
        					<a href="../../../../page/join.html" >加盟共赢</a>
        					<a href="../../../../page/cooperate-people.html" >商学院</a>
        					<a href="../../../../page/pos.html" >大商样板</a>
        					<a href="../../../../page/live-grid-sketch.html" >大单分享</a>
        				</div>
        				<div class="footer-center-left-item">
        					<a href="../../../../page/contact.html" >联系我们</a>
        					<a href="../../../../page/productSearch.html" >防伪查询</a>
        				</div>
        			</div>
        		</div>
        		<div class="footer-center-right">
        			<div class="footer-center-txt1">关注我们</div>
        			<div class="footer-center-txt2">全国客服电话</div>
        			<div class="footer-center-txt3">400-8877-831</div>
        			<div class="footer-center-txt4">邮箱：sales@jxbsl.com</div>
        			<div class="footer-center-txt5">
        				<img src="/static/images/wb.png" alt="">
        				<img src="/static/images/wx.png" alt="">
        			</div>
        		</div>
        	</div>
            <div class="bottom">
                <p class="bottom-p">COPYRIGHTS 2020 BOSLON AL RIGHTS RESERVED. 浙ICP备09002255号-1    技术支持：PERSONAL TAILOR </p>
            </div>
        </div>
    
        <div class="popup-section popup-navigation">
            <div class="popup-container">
                <div class="navigation-left">
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/index.html">
                                <span>首页</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="brand.html">
                                <span>走进宝仕龙</span>
                            </a>
                        </div>
                    </div>
    <!--                <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="brandWitness.html">
                                <span>品牌见证</span>
                            </a>
                        </div>
                    </div> -->
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="eight.html">
                                <span>八大空间</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/live_museum.html">
                                <span>百套案例</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/pos.html">
                                <span>大商样板</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/cooperate-people.html">
                                <span>商学院</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/contact.html">
                                <span>联系我们</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="../../../../page/productSearch.html">
                                <span>防伪查询</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navigation-right">
    
                    <div class="navigation-add">
                        <div class="navigation-add-line"></div>
                        <div class="address">
                            Jl. Duren Tiga Raya No. 33<br>
                            Jakarta Selatan - 12760 <br>
                            Indonesia
                        </div>
                        <p></p>
                        +62 21 799 1521
                        <br>
                        +62 21 722 5003
                        <br>
                        info@prodotti-id.com
                        <p></p>
                        <div class="socials">
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-facebook.svg" alt="">
                                </a>
                            </div>
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-instagram.svg" alt="">
                                </a>
                            </div>
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-youtube.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-add">
                        <div class="navigation-add-line"></div>
                        <div>
                            Monday - Friday<br>
                            09.00 A.M - 06.00 P.M<br><p></p>
                            Saturday - Sunday<br>
                            Appointment Only<br>
                        </div>
                        <div class="navigation-bottom">
                            <div class="navigation-bottom-item">
                                <a href="javascript:;">
                                    <span>Privacy & Cookie Policy</span>
                                </a>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    <div class="popup-section popup-search">

        <div class="popup-container">
            <div class="search-form">
                <input type="text" placeholder="Search for Products, Brands or News" class="input-form" style="width: 0;">
                <div class="search-result">
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="popup-brand">
        <div class="brand-list">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_02.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!--公用-->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/commen.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.animate1.0.3.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/iconfont.js"></script>
	<script src="js/fixed.js"></script>
    <script>
        $('.inside-banner').height($(window).height())
        $(function () {
            if(true){
                $('.inside-banner').addClass('active')
            }
        })


        btninit('living')
        let sceneTime;
        function btninit(scene){
            let btnboxlist = $('.scene-inner[data-scene='+scene+'] .scene-btnbox-section');
            for (let i=0;i<btnboxlist.length;i++){
                btnboxlist.eq(i).css({height:btnboxlist.eq(i).find('span').length*70+'px'});
                btnboxlist.eq(i).find('span').eq(0).addClass('active')
            }
        }
        $('.eight-down').on('click',function () {
            rollpage($('.scene-section').offset().top-$('.header').height(),500)
        })

        $('.scene-btnbox').on('click','.scene-btnbox-section span',function () {
            if($(this).hasClass('active')){
                $(this).siblings().css({opacity:1,display:'block'})
            }else{
                let scene = $(this).children('img').attr('data-scene')
                let idx = $(this).children('img').attr('data-idx')
                console.log(scene)
                let imgarr = $(this).parent().parent().parent().find('.scene-inner-container img[data-scene='+scene+']');
                imgarr.css({opacity:1})
                imgarr.not('[data-idx='+idx+']').css({opacity:0});
                $(this).addClass('active').siblings().removeClass('active').css({opacity:0,display:'none'})
                $(this).parent().prepend($(this));
                clearTimeout(sceneTime)
            }

        })
        $('.scene-btnbox').on('mouseover','.scene-btnbox-section span:not(".active")',function (){
            clearTimeout(sceneTime)
            $(this).parent().find('span').css({opacity:1,display:'block'})
        })
        $('.scene-section').on('mouseleave','.scene-btnbox-section',function () {
            $(this).find('span').css({opacity:0,});
            let dom = $(this).find('span');
            sceneTime = setTimeout(function () {dom.css({display:'none'})},500)
        })




    </script>
</body>
</html>
