<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header"}
    <title>宝仕龙</title>
</head>
<style>

        picture[data-object-fit=cover] {width: 100%;height: 100%;padding: 0!important;}
        picture[data-object-fit=cover] img {object-fit: cover;-o-object-fit: cover;width: 100%;height: 100%;}
        .main2 {visibility: hidden;overflow: hidden;height: 100vh;position: relative;z-index: 2;background-color: #ffffff;}
        .main2 * {font-size: 100%;}
        .main2.is-active {visibility: inherit;}
        .home_section {width: 100%;color: #fff;position: relative;z-index: 1;}
        .home_section.is-active {visibility: inherit;}
        .home_section_model_left {position: relative;}
        .home_section_1_1,.home_section_1_3 {z-index: 2;}
        .home_section_1_1 .home_section_model_left,.home_section_1_3 .home_section_model_left {width: 37.5%;}
        .home_section_1_2 {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;}
        .home_section_1_2 .home_section_model_left {position: relative;width: 35%;}
        .home_section_model_count {display: none;}
        figure,figcaption {display: block;}
        .home_section_1_1 figure {position: relative;box-sizing: border-box;}
        .home_section_1_1 .media_wrapper {position: absolute;z-index: 0;top: 0;left: 0;width: 100%;height: 100%;}
        .home_section_1_1 .media_wrapper {transform: translateX(44%) scaleX(1) scaleY(1) translateY(-50%) translateZ(0px) scale(0.56);-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;}
        .home_section_1_1 .media_wrapper.isactive {transform: translateX(0%) scaleX(1) scaleY(1) translateY(-50%) translateZ(0px) scale(1);}

        .home_section .media {width: 100%;height: 100%;overflow: hidden}
        .r {position: relative;display: block;}
        .r img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
        img.lazy {-webkit-transition: opacity 1.2s cubic-bezier(.16,1.08,.38,.98);-o-transition: opacity 1.2s cubic-bezier(.16,1.08,.38,.98);transition: opacity 1.2s cubic-bezier(.16,1.08,.38,.98);opacity: 0;}
        img.lazy.loaded {opacity: 1;}
        .h_1 {line-height: .91;font-size: 16vw;}
        .home_section_1_1 .h_1 {font-size: 12vw;margin-bottom: 1.33333vw;}
        .t_words {display: inline-block;}
        .t_words>span,.t_words>span>span {display: inline-block;padding-bottom: .2em;}
        .t_words>span {overflow: hidden;padding-top: 0.01em;}
        .t_words>span>span {font-weight: 400;color: #ffffff;-webkit-transform: translateY(-100%) translateZ(0);transform: translateY(-100%) translateZ(0);margin-bottom: -.2em;-webkit-transition: all ease-in-out 750ms;-moz-transition: all ease-in-out 750ms;-ms-transition: all ease-in-out 750ms;-o-transition: all ease-in-out 750ms;transition: all ease-in-out 750ms;}
        .t_words.isactive>span>span {-webkit-transform: translateY(0) translateZ(0);-moz-transform: translateY(0) translateZ(0);-ms-transform: translateY(0) translateZ(0);-o-transform: translateY(0) translateZ(0);transform: translateY(0) translateZ(0);}

        .home_section figcaption .sub.p_m {font-weight: 400}
        .home_section_1_1 figcaption .sub.p_m,.home_section_1_3 figcaption .sub.p_m {line-height: 1.15;}
        .home_section .home_section_btn{margin-top: 6.66667vw;}
        .home_section_btn a:after {-webkit-transition: border-color 1s cubic-bezier(.26,1.04,.54,1),background 1s cubic-bezier(.26,1.04,.54,1);-o-transition: border-color 1s cubic-bezier(.26,1.04,.54,1),background 1s cubic-bezier(.26,1.04,.54,1);transition: border-color 1s cubic-bezier(.26,1.04,.54,1),background 1s cubic-bezier(.26,1.04,.54,1);    border: 2px solid #fff;    content: "";display: block;position: absolute;top: 0;left: 0;z-index: -1;width: 100%;height: 100%;box-sizing: border-box;}
        .home_section_1_1 .home_section_model_count {transform: translateY(100%) translateX(73.3333%) translateZ(0px);-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;}
        .home_section_1_1 .home_section_model_count.isactive {transform: translateY(0%) translateX(0%) translateZ(0px);}
        .home_section_1_2 .home_section_model_count {transform: translateY(100%) translateX(-78.5714%) translateZ(0px);-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;}
        .home_section_1_2 .home_section_model_count.isactive {transform: translateY(0%) translateX(0%) translateZ(0px);}
        .home_section_model_count .number {transform: translateX(-0.15em) translateZ(0px);opacity: 0;-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;color: #e7e7e7;}
        .home_section_model_count .sep {transform: skew(0) translateZ(0px);-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;display: inline-block;margin-top: .2ch;height: 1.07ch;overflow: hidden;}
        .home_section_model_count .sep u {display: block;height: 100%;width: .08em;background: #e7e7e7;-webkit-transform: translateY(100%);-ms-transform: translateY(100%);transform: translateY(100%);margin-left: 1.38889vw;margin-right: 1.38889vw;;-webkit-transition: all ease-in-out 750ms;-moz-transition: all ease-in-out 750ms;-ms-transition: all ease-in-out 750ms;-o-transition: all ease-in-out 750ms;transition: all ease-in-out 750ms;}
        .number_wrapper.isactive .number {opacity: 1;}
        .number_wrapper.isactive .sep.isactive {transform: skew(-20deg) translateZ(0px);}
        .number_wrapper.isactive .sep u {transform: translateY(0) translateZ(0)}

        .home_section_1_2 .media {transform: translateY(0%) translateZ(0px);  }
        .home_section_1_2 picture {-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;transform: translateY(-100%) translateZ(0px);}
        .home_section_1_2 picture.isactive {transform: translateY(0%) translateZ(0px);}
        .home_video_wrapper {display: none;}
        video {font-family: "object-fit: cover;";}
        video[data-object-fit=cover] {-o-object-fit: cover;object-fit: cover;width: 100%;height: 100%;padding: 0!important;}

        .section-banner {height: 100vh;}
        .section-banner .swiper-container {height: 100%;}
        .section-banner .swiper-slide {background-color: #000000;}
        .section-banner .swiper-slide .background-image {position: absolute;top: 0;right: 0;left: 0;bottom: 0;background-size: cover;background-position: 50%;opacity: .7;-webkit-transform-origin: center center;transform-origin: center center;-webkit-transition: all ease-in-out 750ms;-moz-transition: all ease-in-out 750ms;-ms-transition: all ease-in-out 750ms;-o-transition: all ease-in-out 750ms;transition: all ease-in-out 750ms;}
        .section-banner .swiper-slide.hover .background-image {-webkit-transform: scale(1.08, 1.08);-moz-transform: scale(1.08, 1.08);-ms-transform: scale(1.08, 1.08);-o-transform: scale(1.08, 1.08);transform: scale(1.08, 1.08);}
        .section-banner .swiper-navigation {position: absolute;z-index: 3;top: 90vh;right: 80px;margin-top: -20px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-align-items: center;}
        .section-banner .swiper-navigation .navigation-item {color: #fff;letter-spacing: 3px;font-size: 11px;text-transform: uppercase;cursor: pointer;padding: 20px;}
        .section-banner .swiper-navigation .navigation-item.prev {}
        .section-banner .swiper-navigation .navigation-item.next {}
        .section-banner .swiper-navigation .navigation-separator {width: 50px;height: 1px;background: #fff;margin: 0;}
        .section-banner .swiper-pagination {bottom: 8vw;left: 30vw;width: unset}
        .section-banner .swiper-pagination .dot {display: inline-block;margin: 0 8px;opacity: .25;cursor: pointer;height: 7px;width: 7px;background: #fff;border-radius: 100%;margin-left: 10px;position: relative;}
        .section-banner .swiper-pagination .dot:before {content: "";position: absolute;top: 15px;right: -6px;height: 1px;width: 0;background: #fff;-webkit-transition: all 0s ease;transition: all 0s ease;}
        .section-banner .swiper-pagination .dot.swiper-pagination-bullet-active {opacity: 1;background-color: transparent;}
        .section-banner .swiper-pagination .dot.swiper-pagination-bullet-active:before {-webkit-transition: all .5s ease;transition: all .5s ease;width: 16px;}
        .section-banner .swiper-pagination .dot span {line-height:1;color: #ffffff;display: block;pointer-events: none;font-size: 10px;-webkit-transition: all 0s ease;transition: all 0s ease;opacity: 0;-webkit-transform: translateX(-120%);transform: translateX(-120%);}
        .section-banner .swiper-pagination .dot.swiper-pagination-bullet-active span {opacity: 1;-webkit-transition: all .5s ease;transition: all .5s ease;-webkit-transform: translateX(-20%);transform: translateX(-20%);}
        .uppercase {text-transform: uppercase;}
        .hero-slider-content {height: 100vh;position: absolute;z-index: 2;top: 0;left: 50%;transform: translateX(-50%);display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-justify-content: center;-webkit-box-flex-direction: column;-moz-box-flex-direction: column;-ms-flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;flex-direction: column;width: 100%;max-width: 1280px;padding-left: 65px;padding-right: 65px;margin: 0 auto;}
        .text-slide-container {position: relative;margin-left: 100px;display: -webkit-box;display: -ms-flexbox;display: flex;width: 70vw;}
        .text-slide-container .flickity-viewport {position: relative;overflow: visible;width: 100%;touch-action: pan-y;height: 151px;}
        .text-slide-container .flickity-slider {position: absolute;width: 100%;height: 100%;-webkit-transition: all ease-in-out 1000ms;-moz-transition: all ease-in-out 1000ms;-ms-transition: all ease-in-out 1000ms;-o-transition: all ease-in-out 1000ms;transition: all ease-in-out 1000ms;}
        .text-slide-container .text-slider {width: 65vw;-webkit-transition: all 1s ease;transition: all 1s ease;opacity: .4;bottom: 0;cursor: pointer;-webkit-box-flex: 0 0 65vw;-ms-flex: 0 0 65vw;flex: 0 0 65vw;-webkit-transform-origin: left top;transform-origin: left top;position: absolute;}
        .text-slide-container .text-slider.is-selected {pointer-events: auto;opacity: 1;}
        .text-slide-container .text-slider-caption {color: #fff;letter-spacing: 3.5px;font-size: 14px;padding-bottom: 10px;margin-left: 10px;-webkit-transition: padding-left 2s ease;transition: padding-left 2s ease;}
        .text-slide-container .is-selected .text-slider-caption {padding-left: 5%;}
        .text-slide-container .link-editor-wrapper {margin-top: 30px;position: relative;}
        .text-slide-container .link-editor-wrapper p {}
        .text-slide-container .link-editor-wrapper p a{color: #fff;font-size: 95px;letter-spacing: 10px;line-height: 1;max-width: 56vw;padding-right: 5%;display: block;-webkit-transition: padding 1s ease;transition: padding 1s ease;text-transform: uppercase}
        .text-slide-container .text-slider.is-selected p a {padding-left: 5%;padding-right: 0;}
        .text-slider-line {width: 93%;height: 1px;background: hsla(0,0%,100%,.33);position: relative;margin-left: calc(5% + 120px);}
        .text-slider-line .line-active {width: 0;height: 1px;background: #fff;-webkit-transition: width 1s ease;transition: width 1s ease;}



        @media screen and (min-width: 820px) {
            .home_section {overflow: hidden;height: 100vh;position: absolute;top: 0;left: 0;display: flex;visibility: hidden;}
            .home_section_model_count {bottom: 0;color: #e7e7e7;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;background: #fff;width: 100%;height: 40vh;font-size: 7.88194vw;}
            .home_section_model_count {display: flex;position: absolute;}
            .home_section_1_1 figure {display: -webkit-box;display: -ms-flexbox;display: flex;width: 62.5%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 0 10%;}
            .home_section_1_2 .home_section_figure {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;width: 65%;}
            .home_section_1_2 .home_section_caption {width: 57.69231%;margin-top: 40vh;margin-left: 15.38462%;}
            .home_section_1_1 .media_wrapper,.home_section_1_3 .media_wrapper {position: absolute;left: 0;top: 0;z-index: 0;width: 100%;height: calc(100% + 2px);-webkit-transform-origin: top left;-ms-transform-origin: top left;transform-origin: top left;top: 50%;}
            .home_section_1_2 .media_wrapper {width: 100%;height: 60vh;position: absolute;z-index: 0;bottom: 100%;right: 0;top: auto;transform: scale(1.78571) translateZ(0px);-webkit-transform-origin: bottom left;-ms-transform-origin: bottom left;transform-origin: bottom left;-webkit-transition: all ease-in-out 1500ms;-moz-transition: all ease-in-out 1500ms;-ms-transition: all ease-in-out 1500ms;-o-transition: all ease-in-out 1500ms;transition: all ease-in-out 1500ms;}
            .home_section_1_2 .media_wrapper.isactive {transform: scale(1) translateZ(0px);}
            .home_section_1_1 picture {background-color: #1a1a1a;}
            .home_section_1_1 img.lazy.loaded {opacity: .7;}
            .home_section_1_1 figcaption {position: relative;z-index: 1;}
            .h_1 {line-height: 0.84;}
            .home_section_1_1 .h_1 {font-size: 5.90278vw;margin-bottom: .69444vw;}
            .home_section_1_2 .h_1 {font-size: 4.16667vw;margin-bottom: 1.04167vw;}
            .home_section figcaption .sub.p_m {font-size: 1.38889vw;}
            .home_section_1_1 figcaption .sub.p_m,.home_section_1_3 figcaption .sub.p_m {width: 76.47059%;}
            .home_section_1_2 figcaption .sub.p_m {color: #ffffff;opacity: 0;transform: translateY(-3vw) translateZ(0px);-webkit-transition: all ease-in-out 750ms;-moz-transition: all ease-in-out 750ms;-ms-transition: all ease-in-out 750ms;-o-transition: all ease-in-out 750ms;transition: all ease-in-out 750ms;}
            .home_section_1_2 figcaption .sub.p_m.isactive {opacity: 1;transform: translateY(0vw) translateZ(0px);}

            .home_section .home_section_btn {margin-top: 2.43056vw;}
            .home_section .home_section_btn {transform: translateY(-100%) translateZ(0px);opacity: 0;-webkit-transition: all ease-in-out 750ms;-moz-transition: all ease-in-out 750ms;-ms-transition: all ease-in-out 750ms;-o-transition: all ease-in-out 750ms;transition: all ease-in-out 750ms;}
            .home_section .home_section_btn.isactive {transform: translateY(0vw) translateZ(0px);opacity: 1;}
            .home_section_btn a {font-size: .69444vw;height: 3.71528vw;padding-left: 2.60417vw;padding-right: 2.60417vw;color: #fff;webkit-transition: opacity 1s cubic-bezier(.26,1.04,.54,1),color 1s cubic-bezier(.26,1.04,.54,1);-o-transition: opacity 1s cubic-bezier(.26,1.04,.54,1),color 1s cubic-bezier(.26,1.04,.54,1);transition: opacity 1s cubic-bezier(.26,1.04,.54,1),color 1s cubic-bezier(.26,1.04,.54,1);cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-weight: 700;z-index: 0;position: relative;white-space: nowrap;width: fit-content;text-transform: uppercase;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;}
            .home_section_btn a:after {border-radius: 3.71528vw;}
            .home_section_btn a:hover {color: #000000;-webkit-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;}
            .home_section_btn a:hover:after {background: #fff;-webkit-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;}

            .home_video_wrapper {display: block;z-index: 0;width: 65%;}
            .home_video_wrapper,.home_video {position: absolute;top: 0;left: 0;height: 100%;}
            .home_video {z-index: 1;width: 37.5vw;height: 60vh;visibility: hidden;}
            .home_video.is-active {visibility: inherit;width: 100%;height: 100%;}
            .home_video.home_video_down.is-active {width: 37.5vw;height: 60vh;}



        }





</style>
<body style="background: #f0f0f0">
    {include file="common/daohang"}
    <!--wrapper-->
    <!--container-->
    <!--content-->
    <div class="main" id="luxy">

        <div class="section section-banner">

            <div class="swiper-container">
                <div class="swiper-wrapper">
                	<!--<div class="swiper-slide">-->
                 <!--       <div class="background-image" style="background-image:url(images/mmbanner-00.jpg);"></div>-->
                 <!--   </div>-->
                    {volist name="list" id="vo"}
                	<div class="swiper-slide">
                        <div class="background-image" style="background-image:url({$vo.pic_url});"></div>
                    </div>
                    {/volist}
<!--                    <div class="swiper-slide">-->
<!--                        <div class="background-image" style="background-image:url(images/mbanner-01.jpg);" id="banner2"></div>-->
<!--                    </div>-->
<!--                    <div class="swiper-slide">-->
<!--                        <div class="background-image" style="background-image:url(images/mbanner-02.jpg);" id="banner3"></div>-->
<!--                    </div>-->
<!--                    <div class="swiper-slide">-->
<!--                        <div class="background-image" style="background-image:url(images/mbanner-03.jpg);" id="banner4"></div>-->
<!--                    </div>-->
                </div>

                <div class="hero-slider-content">
                    <div class="text-slide-container">
                        <div class="flickity-viewport">
                            <div class="flickity-slider" style="transform: translateX(3.75%)">
                                {volist name="list" id="vo"}
                                <div class="text-slider">
                                    <div class="text-slider-caption uppercase" id="sub_title1">{$vo.sub_title}</div>

                                    <div class="link-editor-wrapper">
                                        <p>
                                            <a href="javascript:;" class="uppercase" id="title1">{$vo.title}</a>
                                        </p>
                                    </div>
                                </div>
                                {/volist}
<!--                                <div class="text-slider">-->
<!--                                    <div class="text-slider-caption uppercase" id="sub_title2">LIGHTING</div>-->

<!--                                    <div class="link-editor-wrapper">-->
<!--                                        <p>-->
<!--                                            <a href="javascript:;" class="uppercase" id="title2">Blending</a>-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="text-slider">-->
<!--                                    <div class="text-slider-caption uppercase">-->
<!--                                        <div class="text-slider-caption uppercase" id="sub_title3">LIGHTING</div>-->
<!--                                        <div class="link-editor-wrapper">-->
<!--                                            <p>-->
<!--                                                <a href="javascript:;" class="uppercase" id="title3">symbiosis</a>-->
<!--                                            </p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="text-slider">-->
<!--                                    <div class="text-slider-caption uppercase">-->
<!--                                        <div class="text-slider-caption uppercase" id="sub_title4">LIGHTING</div>-->
<!--                                        <div class="link-editor-wrapper">-->
<!--                                            <p>-->
<!--                                                <a href="javascript:;" class="uppercase" id="title4">born by beauty</a>-->
<!--                                            </p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="text-slider-line">
                        <div class="line-active"></div>
                    </div>
                </div>

                <div class="swiper-navigation">
                    <div class="navigation-item prev">previous</div>
                    <div class="navigation-separator"></div>
                    <div class="navigation-item next">next</div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div style="width: 100vw;">
            <div style="width: 95%;max-width: 1550px;margin: 8vh auto;display: flex;flex-wrap: wrap">
                <div style="min-width: 550px;flex: 1;padding-right: 5vw;">
                    <h3 style="font-size: 36px;line-height: 46px;color: #333333;">{$part2['title1']}<br>
                        {$part2.title2} <span style="font-size: 26px;line-height: 46px;color: #000000;">{$part2.title3}</span>
                    </h3>
                    <h5 style="font-size: 24px;color: #000000;margin: 4.8vh 0;">{$part2.title4}</h5>
                    <div style="font-size: 16px;line-height: 1.75;text-indent: 1.8em;text-align: justify">
                        {$part2.content}
                    </div>
                    <span style="width: 310px;height: 45px;line-height: 45px;text-align: center;color: #787878;font-size: 14px;text-indent: 1px;display: inline-block;border: 1px solid #676767;margin-top: 4.8vh;">查看更多</span>
                </div>
                <div>
                    <div style="position: relative;top: 50%;transform: translateY(-50%);margin: 0 6vw">
                        <img style="width: 100%;max-width: 390px;margin-bottom: 8vh;" src="{part2.pic1}" alt="">
                        <img style="width: 100%;max-width: 390px" src="{part2.pic2}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main2 is-active">
            <div class="home_section home_section_1_1 is-active">
                <div class="home_section_model_left">
                    <div class="home_section_model_count isactive">
                        <div class="number_wrapper isactive">
                            <span class="number">1</span><span class="sep isactive"><u></u></span><span class="number">2</span>
                        </div>
                    </div>
                </div>
                <figure class="home_section_figure">
                    <div class="media_wrapper isactive" style="">
                        <div class="media">
                            <picture class="lazy r" data-object-fit="cover" style="padding-bottom: 100%; opacity: 1; transform: scaleY(1) translateY(0%) translateZ(0px);">
                                <source type="image/jpg" media="(max-width: 820px)" srcset="{$part3_1.pic_1} 300w, {$part3_1.pic_2} 600w">
                                <img class="lazy loaded" srcset="{$part3_1.pic_3} 800w, {$part3_1.pic_4} 400w, {$part3_1.pic_5} 1600w" src="{$part3_1.pic_6}" data-was-processed="true">
                            </picture>
                        </div>
                    </div>
                    <figcaption class="home_section_caption">
                        <h2 class="h_1" style="font-size: 3.5em;">
                            <span class="t_words isactive">
                                <span><span>{$part3_1.str_1}</span></span>
                                <span><span>{$part3_1.str_2}</span></span>
                                <br>
                                <span><span>{$part3_1.str_3}</span></span>
                                <span><span>{$part3_1.str_4}</span></span>
                            </span>
                        </h2>
                        <p class="sub p_m" style="width: 100%;">
                        <span class="t_words isactive">
                            <span><span>{$part3_1.str_5}</span></span>
                            <!--<span><span></span></span>-->
                            <!--<span><span></span></span>-->
                            <!--<span><span></span></span>-->
                            <!--<span><span></span></span>-->
                            <!--<span><span></span></span>-->
                            <!--<span><span></span></span>-->
                            <!--<span><span>构建</span></span>-->
                            <!--<span><span>你的</span></span>-->
                            <!--<span><span>梦想</span></span>-->
                            <!--<span><span>的家</span></span>-->
                            <!--<span><span>在</span></span>-->
                            <!--<span><span>一个</span></span>-->
                            <!--<span><span>价格</span></span>-->
                            <!--<span><span>，</span></span>-->
                            <!--<span><span>你</span></span>-->
                            <!--<span><span>能</span></span>-->
                            <!--<span><span>负担的起。</span></span>-->
                        </span>
                        </p>
                        <div class="home_section_btn isactive">
                            <a href="javascript:;">
                                {$part3_1.str_6}
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="home_section home_section_1_2">
                <div class="home_section_model_left">
                    <div class="home_section_model_count">
                        <div class="media_wrapper" style="">
                            <div class="media">
                                <picture class="lazy r" data-object-fit="cover" style="padding-bottom: 100%; opacity: 1; transform: scaleY(1) translateY(0%) translateZ(0px);">
                                    <source type="image/jpg" media="(max-width: 820px)" srcset="{$part3_2.pic_1} 300w, {$part3_2.pic_2} 600w">
                                    <img class="lazy loaded" srcset="{$part3_2.pic_3} 800w, {$part3_2.pic_4} 400w, {$part3_2.pic_5} 1600w" src="{$part3_2.pic_6}" data-was-processed="true">
                                </picture>
                            </div>
                        </div>
                        <div class="number_wrapper">
                            <span class="number">2</span><span class="sep"><u></u></span><span class="number">2</span>
                        </div>
                    </div>
                </div>
                <figure class="home_section_figure">
                    <figcaption class="home_section_caption">
                        <h2 class="h_1" style="font-size: 3.5em;">
                        <span class="t_words">
                            <span><span>{$part3_2.str_1}</span></span>
                            <span><span>{$part3_2.str_2}</span></span>
                            <br>
                            <span><span>{$part3_2.str_3}</span></span>
                            <span><span>{$part3_2.str_4}</span></span>
                        </span>
                        </h2>
                        <p class="sub p_m">
                            {$part3_2.str_5}
                        </p>
                        <div class="home_section_btn ">
                            <a href="javascript:;">
                                {$part3_2.str_6}
                            </a>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="home_video_wrapper" style="    opacity: 1;">
                <video class="home_video home_video_down is-active" preload="none" playsinline muted data-object-fit="cover">
                    <!--<source src="media/home-in.webm" type="video/webm">-->
                    <source src="{$part3_1.video_1}" type="video/webm">
                    <!--<source src="./media/home-in2.mp4" type="video/webm">-->
                    <!--<source src="media/home-in.mp4" type="video/mp4">-->
                    <source src="{$part3_1.video_2}" type="video/mp4">
                </video>
                <video class="home_video home_video_up" preload="none" playsinline muted data-object-fit="cover">
                    <!--<source src="media/home-out.webm" type="video/webm">-->
                    <!--<source src="./media/home-down2.mp4" type="video/webm">-->
                    <source src="{$part3_2.video_1}" type="video/webm">
                    <!--<source src="media/home-out.mp4" type="video/mp4">-->
                    <source src="{$part3_2.video_2}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="section section3 idx_section2">
            <div class="ban ban2" style="overflow: hidden;max-height: unset"  >
                <img src="{$part4.pic_1}" style="visibility: inherit;" data-bottom-top="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -211.844, 0, 1);" data-top-bottom="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 212.949, 0, 1);"  alt="" class="logo-img">
            </div>
            <div class="section_i2" data-bottom-top="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -183.468, 0, 1);" data-top-bottom="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,33.7142, 0, 1);">
                <p class="txt03">
                    {$part4.str_1}
                </p>
            </div>
            <div class="box02">
                <div class="vessel ">
                    <div class="main01 mousein1">
                        <div class="scrollBlock01">
                            <div class="scrollTxt01">
                                {$part4.str_2}
                                </div>
                                <div class="scrollLine01">
                                </div>
                        </div>
                        <div class="tag01">{$part4.str_3}</div>
                        <div class="tag02">{$part4.str_4}</div>
                        <div class="tag03">{$part4.str_5}</div>
                        <div class="midx-box2-content">
                            <ul>
                                <li>
                                	<a href="/index/index/eight.html">
                                    <img src="/static/images/idx-icon-kt.png" alt="">
                                    <p>客厅</p>
                                    </a>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-ct.png" alt="">
                                    <p>餐厅</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-cf.png" alt="">
                                    <p>厨房</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-ys.png" alt="">
                                    <p>卫浴</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-ws.png" alt="">
                                    <p>卧室</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-sf.png" alt="">
                                    <p>书房</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-gd.png" alt="">
                                    <p>过道</p>
                                </li>
                                <li>
                                    <img src="/static/images/idx-icon-yt.png" alt="">
                                    <p>阳台</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="eight.html" class="slid01 mousein">
                        <p class="txt04">MORE</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section section4">
            <div class="ban ban3"style="max-height: unset;overflow: hidden;">
                <img src="{$part5.pic_1}" alt="" style="visibility: inherit;" class="logo-img" data-bottom-top="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -161.844, 0, 1);" data-top-bottom="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 212.949, 0, 1);" >
            </div>
            <div class="section_i3" data-bottom-top="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -161.844, 0, 1);" data-top-bottom="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 212.949, 0, 1);"  >
                <p class="txt05">
                    {$part5.str_1}
                </p>
            </div>
            <div class="box02">
                <div class="vessel ">
                    <div class="main01 mousein1">
                        <div class="scrollBlock01">
                            <div class="scrollTxt01">
                                {$part5.str_2}
                                </div>
                                <div class="scrollLine01">
                                </div>
                        </div>
                        <div class="tag01">{$part5.str_3}</div>
                        <div class="tag02">{$part5.str_4}</div>
                        <div class="tag03">{$part5.str_5}</div>
                    </div>
                    <a href="brandWitness.html" class="slid01 mousein">
                        <p class="txt04">MORE</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section section5">
            <ul>
                <li>
                    <a href="brand.html"class="brand mousein ">
                        <img src="{$part6.pic_1}">
                        <p class="section5-txt01">{$part6.str_1}</p>
                        <p class="section5-txt02">{$part6.str_2}</p>
                    </a>
                </li>
                <li>
                    <a href="live_museum.html"class="si mousein">
                        <img src="{$part6.pic_2}" alt="" >
                        <p class="section5-txt01">{$part6.str_3}</p>
                        <p class="section5-txt02">{$part6.str_4}</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>





    {include file="common/footer"}

    <div id="move"></div>
    <div class="popup-section popup-navigation">
        <div class="popup-container">
            <div class="navigation-left">
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="index.html">
                            <span>首页</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="brand.html">
                            <span>走进宝仕龙</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="brandWitness.html">
                            <span>品牌见证</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="eight.html">
                            <span>八大空间</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="live_museum.html">
                            <span>形象厅</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="pos.html">
                            <span>大商样板</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="cooperate-people.html">
                            <span>商学院</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="contact.html">
                            <span>联系我们</span>
                        </a>
                    </div>
                </div>
                <div class="navigation-item">
                    <div class="navigation-span">
                        <a href="productSearch.html">
                            <span>防伪查询</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navigation-right">

                <div class="navigation-add">
                    <div class="navigation-add-line"></div>
                    <div class="address">
                        Jl. Duren Tiga Raya No. 33<br>
                        Jakarta Selatan - 12760 <br>
                        Indonesia
                    </div>
                    <p></p>
                    +62 21 799 1521
                    <br>
                    +62 21 722 5003
                    <br>
                    info@prodotti-id.com
                    <p></p>
                    <div class="socials">
                        <div class="icon">
                            <a href="javascript:;">
                                <img src="/static/images/logo-facebook.svg" alt="">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="javascript:;">
                                <img src="/static/images/logo-instagram.svg" alt="">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="javascript:;">
                                <img src="/static/images/logo-youtube.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navigation-add">
                    <div class="navigation-add-line"></div>
                    <div>
                        Monday - Friday<br>
                        09.00 A.M - 06.00 P.M<br><p></p>
                        Saturday - Sunday<br>
                        Appointment Only<br>
                    </div>
                    <div class="navigation-bottom">
                        <div class="navigation-bottom-item">
                            <a href="javascript:;">
                                <span>Privacy & Cookie Policy</span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="popup-section popup-search">

        <div class="popup-container">
            <div class="search-form">
                <input type="text" placeholder="Search for Products, Brands or News" class="input-form" style="width: 0;">
                <div class="search-result">
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="popup-brand">
        <div class="brand-list">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_02.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>


    <script>
        // $('body,html').animate({scrollTop:0},750)
        var s = skrollr.init({
            forceHeight:false,
            mobileDeceleration:0.08
        });

        document.onmousemove=function(even)
        {
            var oDiv=document.getElementById('move');
            var scrollTop=document.documentElement.scrollTop||document.body.scrollTop;
            var scrollLeft=document.documentElement.scrollLeft||document.body.scrollLeft;
            var oEvent=even||event;
            oDiv.style.top = (oEvent.clientY-(oDiv.offsetHeight/2))+"px";
            oDiv.style.left=(oEvent.clientX-(oDiv.offsetWidth/2))+"px";
            let dom = $('#move');
            $('.mousein').on('mouseenter',function () {
                dom.css({"height":"50px","width":"50px","border":" 2px solid #797979"});
            })
            $('.mousein').on('mouseleave',function () {
                dom.css({"height":"20px","width":"20px","border":" 1px solid #5f5f5f"});
            })
            let dom1 = $('#move');
            $('.mousein1').on('mouseenter',function () {
                dom1.css({"height":"50px","width":"50px","border":" 2px solid #000"});
            })
            $('.mousein1').on('mouseleave',function () {
                dom1.css({"height":"20px","width":"20px","border":" 1px solid #5f5f5f"});
            })
        }
        $(window).scroll(function(){
            if($(window).scrollTop() >950){
                $(".line").css("background","#000");
                $(".line-box").hover(function(){
                    $(".line").css("background-color","#fff");
                });
            }else{
                $(".line").css("background","#fff");
            }
        })
        let target = true;
        let video_target = true;
        let now_idx =0;
        $(function () {
            setTimeout(function () {
                $('.home_video_down').trigger('play');
                $('.home_video_up').trigger('play');
                $('.home_video_down').trigger('pause');
                $('.home_video_up').trigger('play');
            })
            $('.home_video_down')[0].currentTime=0.0;

            $('body .main2')[0].addEventListener('wheel', function (e) {
                var delta = e.deltaY;
                console.log(delta)
                if (delta < 0) {
                    // 向上滚
                    if (target && now_idx != 0) {
                        target = false;

                        // if ($(document).scrollTop() > $('.main2').offset().top) {
                            $('body,html').animate({
                                scrollTop: $('.main2').offset().top
                            }, 750)
                        // }
                        $('.home_video_up').addClass('is-active');
                        $('.home_video_down').removeClass('is-active');

                        // translateX(44%) scaleX(1) scaleY(1) translateY(-50%) translateZ(0px) scale(0.56)
                        if (now_idx == 1) {
                            now_idx--;
                            $('.home_video_up').trigger('play');
                            $('.home_video_down')[0].currentTime = 0
                            $('.home_video_up')[0].addEventListener('timeupdate', function video2(e) {
                                if ($('.home_video_up')[0].currentTime >= 6.5 && video_target) {
                                    target = true;
                                    $('.home_video_up').trigger('pause');
                                    $('.home_video_up')[0].removeEventListener('timeupdate', video2)
                                    $('.home_video_down').addClass('is-active');
                                    $('.home_video_up')[0].currentTime = 0.00;
                                    $('.home_video_up').removeClass('is-active');
                                }
                                // 6.13
                                // $(this).removeEventListener('timeupdate')
                            });
                            $('.home_section_1_2 .number_wrapper .sep').removeClass('isactive');
                            setTimeout(function () {
                                $('.home_section_1_1').addClass('is-active');
                                $('.home_section_1_2 figcaption .sub.p_m').removeClass('isactive')
                                $('.home_section_1_2 .t_words').removeClass('isactive');
                                $('.home_section_1_2 .home_section_btn').removeClass('isactive')
                                $('.home_section_1_1 .media_wrapper').addClass('isactive')
                                $('.home_section_1_2 .media_wrapper').removeClass('isactive')
                                $('.home_section_1_1 .media_wrapper').find('picture').slideDown(1500);
                                $('.home_section_1_1 .home_section_model_count').addClass('isactive')
                                $('.home_section_1_2 .home_section_model_count').removeClass('isactive')
                                $('.home_section_1_2 figcaption .sub.p_m').removeClass('isactive')
                                $('.home_section_1_2 .number_wrapper').removeClass('isactive');
                                setTimeout(function () {
                                    $('.home_section_1_1 .t_words').addClass('isactive');
                                    $('.home_section_1_1 figcaption .sub.p_m').addClass('isactive')
                                    $('.home_section_1_1 .home_section_btn').addClass('isactive');
                                    $('.home_section_1_1 .number_wrapper .sep').addClass('isactive')
                                    setTimeout(function () {
                                        $('.home_section_1_1 .number_wrapper').addClass('isactive');
                                    }, 750)

                                    setTimeout(function () {
                                        $('.home_section_1_2').removeClass('is-active')
                                    }, 800)
                                }, 750)
                                $('.home_video_down ').animate({
                                    width:'37.5vw',
                                    height:'60vh'
                                },1500)
                                $('.home_video_up').animate({
                                    width:'37.5vw',
                                    height:'60vh'
                                },1500)
                            }, 1750)
                        }
                    }
                } else if (delta > 0) {
                    // 向下滚
                    if (target && now_idx != 1) {
                        // if ($(document).scrollTop() <= $('.main2').offset().top) {
                            $('body,html').animate({
                                scrollTop: $('.main2').offset().top
                            }, 750)
                        // }
                        target = false;
                        $('.home_video_down').addClass('is-active');
                        $('.home_video_up').removeClass('is-active');
                        // translateX(44%) scaleX(1) scaleY(1) translateY(-50%) translateZ(0px) scale(0.56)
                        if (now_idx == 0) {
                            now_idx++;
                            // 视频部分
                            // $('.home_video_down')[0].currentTime=2.29
                            $('.home_video_down').trigger('play');
                            $('.home_video_down,.home_video_up').animate({
                                width:'100%',
                                height:'100%'
                            },1500)
                            $('.home_video_down')[0].addEventListener('timeupdate', function video(e) {
                                if ($('.home_video_down')[0].currentTime >= 6.7 && video_target) {
                                    // video_target=false;
                                    target = true;
                                    $('.home_video_down').trigger('pause');
                                    $('.home_video_down')[0].removeEventListener('timeupdate', video)
                                    // $('.home_video_down')[0].currentTime = 3.85;
                                    $('.home_video_up')[0].currentTime = 0.0;
                                }
                                // 6.13
                                // $(this).removeEventListener('timeupdate')
                            });

                            // 内容部分
                            $('.home_section_1_1 .media_wrapper').removeClass('isactive')
                            $('.home_section_1_2 .media_wrapper').addClass('isactive')

                            $('.home_section_1_1 .t_words').removeClass('isactive');
                            $('.home_section_1_1 .home_section_btn').removeClass('isactive')
                            $('.home_section_1_1 .number_wrapper').addClass('isactive')
                            $('.home_section_1_1 .home_section_model_count').removeClass('isactive')
                            $('.home_section_1_2 .home_section_model_count').addClass('isactive')

                            $('.home_section_1_2').addClass('is-active');

                            // 数字1/3
                            $('.home_section_1_1 .number_wrapper .sep').removeClass('isactive');


                            setTimeout(function () {
                                $('.home_section_1_1 .number_wrapper').removeClass('isactive');

                                $('.home_section_1_2 figcaption .sub.p_m').addClass('isactive')
                                $('.home_section_1_2 .home_section_btn').addClass('isactive')
                                $('.home_section_1_2 .t_words').addClass('isactive');
                                $('.home_section_1_1 .media_wrapper').find('picture').slideUp(1500);
                                $('.home_section_1_2 .number_wrapper .sep').addClass('isactive')
                                setTimeout(function () {
                                    $('.home_section_1_2 .number_wrapper').addClass('isactive');
                                }, 750);

                                setTimeout(function () {
                                    $('.home_section_1_1').removeClass('is-active')
                                }, 1500)
                            }, 750)
                        }
                    }

                }
                if (target == false) {

                    e.preventDefault()
                }
                // }
            }, false)
        })

    </script>
    <script>
    	
    	$(function () {

            var swibanner = new Swiper('.section-banner .swiper-container',{
                speed: 1000,
                navigation: {
                    nextEl: '.swiper-navigation .next',
                    prevEl: '.swiper-navigation .prev',
                },
                pagination:{
                    el:'.section-banner .swiper-pagination',
                    clickable:true,
                    renderBullet: function (index, className) {
                        return '<div class="dot '+className+'"><span>0'+(index+1)+'</span></div>';
                    },
                },
                on: {
                    init:function () {
                        let idx = this.activeIndex;
                        let domarr = $('.section-banner .swiper-slide');
                        $('.text-slider-line .line-active').css({
                            width: ((idx+1)/domarr.length)*100+'%'
                        })
                        console.log($('.text-slider').eq(idx))
                        $('.text-slider').eq(idx).addClass('is-selected').siblings().removeClass('is-selected');
                        mytxt(idx)
                    },
                    slideChangeTransitionStart:function () {
                        let idx = this.activeIndex;
                        let domarr = $('.section-banner .swiper-slide');
                        $('.text-slider-line .line-active').css({
                            width: ((idx+1)/domarr.length)*100+'%'
                        })
                        mytxt(idx)
                    }
                }

            })

            var a = ($('.text-slider').eq(0).width()/$('.flickity-slider').width()).toFixed(2)*100
            var bantxtarr = $('.text-slider');
            var txt_x = 3.75;
            for(let i in bantxtarr){
                bantxtarr.eq(i).css({
                    left:(i*a)+'%'
                })
            }
            $('.text-slider').on('click',function () {
                swibanner.slideTo($(this).index())
                mytxt($(this).index())
            })
            $('.text-slider').on('mouseenter',function () {
                $('.swiper-slide').eq($(this).index()).addClass('hover')
            })
            $('.text-slider').on('mouseleave',function () {
                $('.swiper-slide').eq($(this).index()).removeClass('hover')
            })
            function mytxt(idx) {
                let mi = idx!=0?3.75:0;
                $('.flickity-slider').css({
                    transform: 'translateX('+(txt_x-(idx*a)-mi)+'%)'
                })
                $('.text-slider').eq(idx).addClass('is-selected').siblings().removeClass('is-selected')
            }


        })
    	
        
    </script>
</body>
</html>
