<!DOCTYPE html>
<html lang="en">
<head>

    <title>宝仕龙</title>
    {include file="common/header"}
</head>
<style>
    .inside-banner .banner_left{position:absolute;width:50%;height:100%;overflow:hidden;right:50%;background:#fff;z-index:10;}
    .inside-banner .banner_right{position:absolute;left:50%;width:50%;height:100%;overflow:hidden;background:#fff;z-index:10;}
    .inside-banner.active .banner_left{right:100%;transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-webkit-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-moz-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-ms-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-o-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);}
    .inside-banner.active .banner_right{left:100%;transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-webkit-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-moz-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-ms-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);-o-transition:all 0.85s cubic-bezier(1, 0.08, 0.94, 0.71);}
    .inside-banner .banner_video {position: absolute;top: 0;width: 100%;height: 100%;}
    .inside-banner .banner_video video{object-fit:cover;width:100%;height:100%;}
    .inside-banner {overflow: hidden;position: relative;height: 100vh;}
    .inside-banner .banner_img{width:100%;height:100%;position:absolute;top:0;left:0;}
    .inside-banner.active .banner_video,.inside-banner.active .banner_img{transform:scale(1.02);-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-ms-transform:scale(1.02);-o-transform:scale(1.02);transform-origin:center center;transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-ms-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
    .inside-banner .banner_zz{position:absolute;top:0;width:100%;height:100%;background:linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);background: -moz-linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);background: -webkit-linear-gradient(to bottom, rgba(178, 154, 116, 0.25) 10%, rgba(2,130,172,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FB29A74',endColorstr='#000099cb',GradientType=0);}
    /*此样式在移动端时设置为block*/
    .vis_xs{display:none;}
    .inside-banner .shadows {position: absolute;z-index: 3;left: 50%;top: 0;bottom: 0;width: 0px;max-width: 320px;border-left: 1px solid #000;border-right: 1px solid #000;opacity: 0;-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-transition: opacity .75s,visibility .75s,width .75s;transition: opacity .75s,visibility .75s,width .75s;-webkit-transition-delay: .8s;transition-delay: .8s;pointer-events: none;}
    .inside-banner.active .shadows {width: 320px;opacity: 0.25;}
    .inside-banner .shadow {position: absolute;width: 47px;height: 100%;}
    .inside-banner .shadow.shadow-left {right: 100%;-webkit-transform: scale(-1);transform: scale(-1);}
    .inside-banner .shadow.shadow-right {left: 100%;}
    .inside-banner .banner_contair {width: 100%;height: 100%; display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .inside-banner .inside-banner-heading {-webkit-transition:none;transition:none;-webkit-transform:translate3d(0,50px,0);transform:translate3d(0,50px,0)}
    .inside-banner.active .inside-banner-heading {pointer-events: none;-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-transition: -webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: -webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;transition: transform 1.6s cubic-bezier(.32,.32,0,.99) 0s,-webkit-transform 1.6s cubic-bezier(.32,.32,0,.99) 0s;-webkit-transition-delay: 0.85s;transition-delay: 0.85s;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
    .inside-banner .sub-heading {visibility:hidden;opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
    .inside-banner.active .sub-heading {color: #fff;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;opacity: 1;visibility: inherit;-webkit-transition: opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;transition: opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;transition: transform 1.5s,opacity 1.5s,visibility 1.5s;transition: transform 1.5s,opacity 1.5s,visibility 1.5s,-webkit-transform 1.5s;-webkit-transition-delay: 0.85s;transition-delay: 0.85s;}
    .inside-banner-heading h2 {line-height: 80px;}
    .inside-banner-heading h2.inside-banner-title {font-size: 50px;}
    .inside-banner-heading h2.inside-banner-title2 {font-size: 25px;}


    .product-search-section {padding: 55px 0;}
    .product-search-container {width: 100%;max-width: 1600px;margin: 0 auto;text-align: center;}
    .pro-sech-tit {}
    .pro-sech-tit h2 {}
    .pro-sech-tit h2.en {color: #d3555d;font-size: 38px;font-weight: 400;}
    .pro-sech-tit h2.cn {padding: 20px 0;line-height: 1;font-size: 22px;color: #646567;font-weight: 400;}
    .pro-sech-tit .other {font-size: 14px;color: #999999;}
    .product-search-section form {margin: 50px 0;}
    .pro-sech-item {}
    .pro-sech-item input {height: 35px;line-height: 35px;font-size: 12px;color: #000000;width: 850px;box-sizing: border-box;vertical-align: bottom;outline-color:#d3555d;text-indent: 1.5em;}
    .pro-sech-item button {cursor: pointer;background-color: #666666;color: #ffffff;font-size: 12px;padding: 0 12px;border: none;margin-left: -3px;height: 35px;line-height: 35px;outline: none;}
    .bsl-txt {color: #464646;font-size: 12px;}
    .bsl-txt p {line-height: 1.8}

    .inside-footer {text-align: center;padding-bottom: 40px;}
    .inside-footer p {font-size: 14px;}
    .inside-footer .icon-down-box {}
    .inside-footer .icon-down-box .iconfont {font-size: 38px;color: #999999}
    .inside-footer .tel {}
    .inside-footer .tel a {color: #d3555d;font-size: 30px;}
</style>
<body>

{include file="common/daohang"}
    <div class="main">
        <div class="inside-banner">
            <div class="banner_img hid_xs" style="background:url(/static/images/common/productsearch-banner.jpg) no-repeat center center;background-size:cover;"></div>
            <div class="banner_img vis_xs" style="background:url(/static/images/common/productsearch-banner.jpg) no-repeat center center;background-size:cover;"></div>
            <div class="banner_zz"></div>
            <div class="banner_left"></div>
            <div class="banner_right"></div>
            <div class="banner_contair">
                <div class="inside-banner-heading">
                    <div class="sub-heading">
                        <h2 class="inside-banner-title">相信品牌的力量</h2>
                        <h2 class="inside-banner-title2">从不害怕被模仿 却担心模仿未遂</h2>
                    </div>
                </div>
            </div>
            <div class="shadows">
                <img src="/static/images/common/shadow.png" alt="" class="shadow shadow-left">
                <img src="/static/images/common/shadow.png" alt="" class="shadow shadow-right">
            </div>

        </div>

        <div class="product-search-section">
            <div class="product-search-container">
                <div class="pro-sech-tit">
                    <h2 class="en">PRODUCT ID QUERY</h2>
                    <h2 class="cn">产品ID查询</h2>
                    <p class="other">为您提供安全的放心服务</p>
                </div>
                <form>
                    <div class="pro-sech-item">
                        <input type="text" placeholder="请输入产品ID">
                        <button>开始验证</button>
                    </div>
                </form>

                <div class="bsl-txt">
                    <p>宝仕龙致力为您提供最优质的产品和服务 <br>为保证您的利益，请在宝仕龙的指定专卖店购买产品</p>
                </div>

            </div>
        </div>

        <div class="inside-footer">
            <p>宝仕龙全国服务热线</p>
            <p class="icon-down-box">
                <i class="iconfont icon-down"></i>
            </p>
            <p class="tel"><a href="javascript:;">400-8877-831</a></p>
        </div>

    </div>


    <div class="measure-container measure-common">
    		<div class="measure-tit">免费设计</div>
    		<div class="measure-tit1">专业设计师1对1家装指导</div>
    		<form action="" method="" class="measure">
    			<div class="measure-item">
    				<label><img src="/static/images/people.png" alt=""></label>
    				<input class="mul_input" placeholder="您的姓名"> 
    			</div>
    			<div class="measure-item">
    				<label><img src="/static/images/phone.png" alt=""></label>
    				<input class="mul_input"  placeholder="联系方式"> 
    			</div>
    			<div class="measure-item">
    				<label><img src="/static/images/add.png" alt=""></label>
    				<input class="mul_input" placeholder="所在楼盘"> 
    			</div>
    			<div class="button">
    				<input type="button" value="立即申请">
    			</div>
    		</form>
    	</div>
    	<div class="mutual on">
    	    <ul class="list">
    			<li>
    			    <a href="javascript:;">
    			        <div class="mutualIco">
    			            <img src="/static/images/ico2.png" alt="">
    						<div class="mutualIco-text">在线咨询</div>
    			        </div>
    			
    			        <span class="txt1">
    			            扫描二维码与销售顾问咨询
    			            <img src="/static/images/common/r-wx.jpg" alt="">
    			        </span>
    			    </a>
    			</li>
    	        <li>
    	            <a target="_blank"  class="vid-play-btn">
    	                <div class="mutualIco">
    	                    <img src="/static/images/ico3.png" alt="">
    						<div class="mutualIco-text">免费量房</div>
    	                </div>
    	            </a>
    	        </li>
    			<li>
    			    <a href="javascript:;">
    			        <div class="mutualIco">
    			            <img src="/static/images/ico1.png" alt="">
    						<div class="mutualIco-text">电话咨询</div>
    			        </div>
    			        <span class="txt1">400-887-7831 / 0573-86788519</span>
    			    </a>
    			</li>
    	        <li class="backtoTop">
    	            <a href="javascript:;">
    	                <div class="mutualIco">
    	                    <img src="/static/images/ico4.png" alt="">
    						<div class="mutualIco-text">top</div>
    	                </div>
    	            </a>
    	        </li>
    	    </ul>
    	</div>

    <!--公用-->
    {include file="common/footer"}
    
        <div class="popup-section popup-navigation">
            <div class="popup-container">
                <div class="navigation-left">
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="index.html">
                                <span>首页</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="/index/index/brand.html">
                                <span>走进宝仕龙</span>
                            </a>
                        </div>
                    </div>
    <!--                <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="brandWitness.html">
                                <span>品牌见证</span>
                            </a>
                        </div>
                    </div> -->
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="/index/index/eight.html">
                                <span>八大空间</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="live_museum.html">
                                <span>百套案例</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="pos.html">
                                <span>大商样板</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="cooperate-people.html">
                                <span>商学院</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="contact.html">
                                <span>联系我们</span>
                            </a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <div class="navigation-span">
                            <a href="productSearch.html">
                                <span>防伪查询</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navigation-right">
    
                    <div class="navigation-add">
                        <div class="navigation-add-line"></div>
                        <div class="address">
                            Jl. Duren Tiga Raya No. 33<br>
                            Jakarta Selatan - 12760 <br>
                            Indonesia
                        </div>
                        <p></p>
                        +62 21 799 1521
                        <br>
                        +62 21 722 5003
                        <br>
                        info@prodotti-id.com
                        <p></p>
                        <div class="socials">
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-facebook.svg" alt="">
                                </a>
                            </div>
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-instagram.svg" alt="">
                                </a>
                            </div>
                            <div class="icon">
                                <a href="javascript:;">
                                    <img src="/static/images/logo-youtube.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-add">
                        <div class="navigation-add-line"></div>
                        <div>
                            Monday - Friday<br>
                            09.00 A.M - 06.00 P.M<br><p></p>
                            Saturday - Sunday<br>
                            Appointment Only<br>
                        </div>
                        <div class="navigation-bottom">
                            <div class="navigation-bottom-item">
                                <a href="javascript:;">
                                    <span>Privacy & Cookie Policy</span>
                                </a>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    <div class="popup-section popup-search">

        <div class="popup-container">
            <div class="search-form">
                <input type="text" placeholder="Search for Products, Brands or News" class="input-form" style="width: 0;">
                <div class="search-result">
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                    <div class="search-result-item"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="popup-brand">
        <div class="brand-list">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_02.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <div class="slider-image">
                                <div class="background-image" style="background-image: url('/static/images/brand_swiper_01.jpg')"></div>
                            </div>
                            <div class="slider-title">Alexander Lamont</div>
                            <div class="slider-hr"></div>
                            <div class="slider-category">Furniture</div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!--公用-->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/commen.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.animate1.0.3.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/iconfont.js"></script>
	<script src="js/fixed.js"></script>
    <script>
        $('.inside-banner').height($(window).height())
        $(function () {
            if(true){
                $('.inside-banner').addClass('active')
            }
        })


    </script>
</body>
</html>
