<!doctype html>
<html>
<head>
{include file="common/header"}
</head>
<style>
#role{background:#62b5d7}
</style>
<script>
//搜索
$(function(){
    $("input[type=button]").click(function(){
      var txt=$("input[type=text]").val();
      if($.trim(txt)!=""){
 
        $("table tr:not('#theader')").hide().filter(":contains('"+txt+"')").show().css("background","#63b5d7");
      }else{
        $("table tr:not('#theader')").css("background","#fff").show();
      }
    });
  })
  </script>

 <body>
   {include file="common/daohang"}

 <div class="right">
  <div class="layui-frome">
     <h1>角色管理列表</h1>
	 <HR>
	 <!-- <div style="float:RIGHT;">
     <input type="text"></input>
     <input type="button" value="搜索"></input>
     </div> -->
 <div class="layui-form" class="table" style="margin-top:30px;">
  <table class="layui-table" id="myTable">
 
    <colgroup>
      <col width="50">
    <!--  <col width="200">
      <col width="200">
      <col width="200">
	  <col width="200">
	  <col width="200">
	  <col width="200">
	  <col width="200">
      <col>
	  -->
    </colgroup>
 	
     <thead>
      <tr id="theader">
        <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
        <th>用户名</th>
        <th>姓名</th>
        <th>密码</th>
        <th>所属部门</th>
        <th>状态</th>
		<th>用户角色</th>
		<th>上次登录时间</th>
		<th>操作</th>
      </tr> 
  </thead>
   {volist name="lists" id="vo"}
      <tr>
        <td><input type="checkbox" id="{$vo.userid}" value="{$vo.userid}" class="delusers" name="" lay-skin="primary"></td>
        <td>{$vo.userid}</td>
        <td>{$vo.username}</td>
        <td>{$vo.passwd}</td>
        <td>{$vo.orgname}</td>
		<td><?php if($vo['userstate']=='00'){echo "正常";}else{echo "不正常";} ?></td>
		<td>{$vo.userrole}</td>
		<td>{$vo.logintime}</td>
     <td>
    <a href="profile.html?username={$vo.userid}"><button class="layui-btn layui-btn-small"><i class="layui-icon">&#xe642;</i>编辑</button></a>
     <button class="layui-btn layui-btn-dange layui-btn-small my-del" id="{$vo.userid}"><i class="layui-icon"></i> 删除</button>


     </td>
      </tr>
{/volist}
    
  </table>
<!--分页-->
 <!--  <div id="demo1"></div> -->
  
<a href="profile.html"><button class="layui-btn" target="_blank"><i class="layui-icon"></i>增加</button></a>
<button class="layui-btn layui-btn-dange layui-btn-normal" id="delRow"><i class="layui-icon"></i> 删除</button>
 </div>
</div>
</div>
{include file="common/footer"}
   <script src="__STATIC__/layui/layui.js"></script>
<script>

layui.use(['layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate; 
});

layui.use('form', function(){
 var $ = layui.jquery, form = layui.form;
  
  //全选
  form.on('checkbox(allChoose)', function(data){
   var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
   child.each(function(index, item){
     item.checked = data.elem.checked;
   });
    form.render('checkbox');
  });
  
});



$('.my-del').click(function(){
   var id=$(this).attr('id');
   //alert(id);
   if (confirm("您确定要删除吗?")) {
          $.ajax({
            url:"delusers.html",
            type:"POST",
            data:{"id":id},
            dataType:'json',
            success:function(e){
              if (e=='1') {
                alert('删除成功！');
                 location.reload();
              }else{
                alert('删除失败！');
              }
            }
          });
          return true;
      } else {
          return false;
      }
});

$('#delRow').click(function(){
    var ids = '';
    $(".delusers").each(function() {
    if ($(this).is(':checked')) {
      ids += ',' + $(this).val(); //逐个获取id
      }
    });
    ids = ids.substring(1); // 对id进行处理，去除第一个逗号
    //alert(ids);
    if (ids.length == 0) {
      alert('请选择要删除的选项');
    } else {
      if (confirm("您确定要删除这些吗？删除后将无法恢复。")) {

        //url = "action=del_call_record&ids=" + ids;
        $.ajax({
          type: "post",
          url: "delusers.html",
          data:{"id":ids},
          dataType:'json',
          success: function(data) {
            // alert(data);
            if (parseInt(data) > 0) {
              alert("删除成功！");
              location.reload();
            } else {
              alert("删除失败！");
            }
          }
          // error: function(XMLHttpRequest, textStatus) {
          //   alert("页面请求错误，请检查重试或联系管理员！\n" + textStatus);
          // }
        });
      }
    }

});
</script>


</body>
</html>