<div class="header">
  <div class="header1">
    <div class="nav-container">
      <div class="logo"><a href="/index/index/index.html"><img src="/static/images/common/logo-top-white.png" alt="" width="155"></a></div>
      <a href="javascript:;">
        <div class="left-header mshow">
          <div class="navbar">
            <span class="nav"></span>
            <span class="nav"></span>
            <span class="nav"></span>
          </div>
          <div class="search nav-item">
            <!--<img src="images/icon-search.png" alt="">-->
            <i class="iconfont icon-iconsearch"></i>
            <span>SEARCH</span>
          </div>
        </div>
      </a>
      <a href="javascript:;">
        <div class="right-header mshow">
          <div class="nav-item">
            <a href="/index/index/eight.html">
              <i class="iconfont icon-fenlei"></i>
              <!--<img src="images/icon-brands.png" alt="">-->
              <span>八大空间</span>
            </a>

          </div>
          <div class="nav-item">
            <a href="/index/index/join.html">
              <i class="iconfont icon-lock"></i>
              <!--<img src="images/icon-stock.png" alt="">-->
              <span>加盟合作</span>
            </a>

          </div>
        </div>
      </a>
      <div class="nav-item close mhidden">
        <img src="/static/images/icon-close.png" alt="">
        <span>CLOSE</span>
      </div>

    </div>
  </div>

  <div class="header2">
    <div class="nav-container">
      <div class="logo"><a href="/index/index/index.html"><img src="/static/images/common/logo-top-white.png" alt="" width="155"></a></div>
      <a href="javascript:;">
        <div class="left-header mshow">
          <div class="navbar">
            <span class="nav"></span>
            <span class="nav"></span>
            <span class="nav"></span>
          </div>
          <div class="search nav-item">
            <!--<img src="/static/images/icon-search.png" alt="">-->
            <i class="iconfont icon-iconsearch"></i>
            <span>SEARCH</span>
          </div>
        </div>
      </a>
      <div class="nav_t nav_t1">
        <ul class="clearfix">
          <li>
            <a href="/index/index/index.html">首页</a>
          </li>
          <li>
            <a href="/index/index/brand.html">走进宝仕龙</a>
            <div class="header2-comboBox">
              <a href="/index/index/brand.html" class="comboBox-list">走进宝仕龙</a>
              <a href="/index/index/brand.html" class="comboBox-list">品牌文化</a>
              <a href="/index/index/topshop.html" class="comboBox-list">工厂1号店</a>
              <a href="/index/index/museum.html" class="comboBox-list">吊顶博物馆</a>
            </div>
          </li>
          <li>
            <a href="/index/index/eight.html">定制生活馆</a>
            <div class="header2-comboBox">
              <a href="/index/index/eight.html"  class="comboBox-list">生活DIY</a>
              <!-- <a href="javascript:;" class="comboBox-list" >设计理念</a> -->
              <a href="/index/index/live_museum.html" class="comboBox-list">百套案例</a>
              <a href="/index/index/live_museum.html" class="comboBox-list">万城万景</a>
              <a href="/index/index/remould.html" class="comboBox-list">旧屋改造</a>
            </div>
          </li>
          <li>
            <a href="/index/index/news.html" >新闻中心</a>
            <div class="header2-comboBox">
              <a href="/index/index/news.html"  class="comboBox-list">企业新闻</a>
              <a href="/index/index/news.html"  class="comboBox-list">市场新闻</a>
              <a href="/index/index/news_video.html"  class="comboBox-list">企业视频</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="nav_t nav_t2">
        <ul class="clearfix">
          <li>
            <a href="javascript:;" >品牌见证</a>
            <div class="header2-comboBox">
              <a href="/index/index/brandWitness1.html" class="comboBox-list">设计师</a>
              <a href="/index/index/cooperation.html" class="comboBox-list">大咖品推官</a>
              <a href="/index/index/say.html" class="comboBox-list">TA有话说</a>
            </div>
          </li>
          <li>
            <a href="/index/index/service.html" >服务中心</a>
            <div class="header2-comboBox">
              <a href="/index/index/service.html#customer" class="comboBox-list">客服中心</a>
              <a href="/index/index/service.html#need" class="comboBox-list">客户中心</a>
              <a href="/index/index/contact.html" class="comboBox-list">我要反馈</a>
            </div>
          </li>
          <li>
            <a href="/index/index/join.html" >招商合作</a>
            <div class="header2-comboBox">
              <a href="/index/index/join.html"  class="comboBox-list">加盟共赢</a>
              <a href="/index/index/franchisee.html"  class="comboBox-list">加盟流程</a>
              <a href="/index/index/cooperate_people.html"  class="comboBox-list">商学院</a>
              <a href="/index/index/pos.html"  class="comboBox-list">大商样板</a>
              <a href="/index/index/live_grid_sketch.html"  class="comboBox-list">大单分享</a>
            </div>
          </li>
          <li>
            <a href="/index/index/contact.html" >联系我们</a>
            <div class="header2-comboBox">
              <a href="/index/index/recruit.html"   class="comboBox-list">招贤纳士</a>
            </div>
          </li>
        </ul>
      </div>
      <a href="javascript:;">
        <div class="right-header mshow">
          <div class="nav-item">
            <a href="/index/index/eight.html">
              <i class="iconfont icon-fenlei"></i>
              <!--<img src="/static/images/icon-brands.png" alt="">-->
              <span>八大空间</span>
            </a>
          </div>
          <div class="nav-item">
            <a href="/index/index/join.html">
              <i class="iconfont icon-lock"></i>
              <!--<img src="/static/images/icon-stock.png" alt="">-->
              <span>加盟合作</span>
            </a>
          </div>
        </div>
      </a>
      <div class="nav-item close mhidden">
        <img src="/static/images/icon-close.png" alt="">
        <span>CLOSE</span>
      </div>

    </div>
  </div>
</div>