


<div class="mutual on">
    <ul class="list">
        <li>
            <a href="javascript:;">
                <div class="mutualIco">
                    <img src="/static/images/ico2.png" alt="">
                    <div class="mutualIco-text">在线咨询</div>
                </div>

                <span class="txt1">
    		            扫描二维码与销售顾问咨询
    		            <img src="/static/images/common/r-wx.jpg" alt="">
    		        </span>
            </a>
        </li>
        <li>
            <a target="_blank"  class="vid-play-btn" onclick="postForm();">
                <div class="mutualIco">
                    <img src="/static/images/ico3.png" alt="">
                    <div class="mutualIco-text">免费量房</div>
                </div>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <div class="mutualIco">
                    <img src="/static/images/ico1.png" alt="">
                    <div class="mutualIco-text">电话咨询</div>
                </div>
                <span class="txt1">400-887-7831 / 0573-86788519</span>
            </a>
        </li>
        <li class="backtoTop">
            <a href="javascript:;">
                <div class="mutualIco">
                    <img src="/static/images/ico4.png" alt="">
                    <div class="mutualIco-text">top</div>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="tell_consultation_box">
    <div class="tell_consultation">
        <img src="/static/images/close_btn.png" class="close_btn">
        <form action="/index/index/form" method="post">
            <p>输入您的电话，我们即刻给您回电</p>
            <div class="tell_box">
                <input type="text" name="username" placeholder="请输入您的姓名">
                <input type="text" name="mobile" placeholder="请输入您的电话">
            </div>
            <div class="tell_box">
                <input type="text" name="desc" placeholder="请输入您的地址">
                <button  type="submit"  class="tell_submit">我要报名</button>
            </div>
        </form>

        <p>您也可直接拨打24小时：400-8877-831 或线上咨询</p>
        <div class="btn_box">
            <!--<span class="shangqiaobtn">在线咨询</span>-->
            <span>
                            <a href="javascript:;">
                                qq咨询
                            </a>
                        </span>
        </div>

    </div>
</div>

<div class="footer">
    <div class="footer-top">
        <div class="top-list">
            <div class="top-item">
                <img src="/static/images/ico01.png" alt="">
                <div class="top-item-txt">
                    防伪查询
                </div>
            </div>
            <div class="top-item">
                <img src="/static/images/ico02.png" alt="">
                <div class="top-item-txt">
                    帮助中心
                </div>
            </div>
            <div class="top-item">
                <img src="/static/images/ico05.png" alt="">
                <div class="top-item-txt">
                    天猫官方直营店
                </div>
            </div>
            <div class="top-item">
                <img src="/static/images/ico04.png" alt="">
                <div class="top-item-txt">
                    宝仕龙商城
                </div>
            </div>
            <div class="top-item backtoTop">
                <img src="/static/images/ico5.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="footer-center-left">
            <div class="footer-center-left-list">
                <div class="footer-center-left-item">
                    <a href="index.html">首页</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="brand.html">走进宝仕龙</a>
                    <a href="brand.html">品牌文化</a>
                    <a href="javascript:;">工厂1号店</a>
                    <a href="museum.html">吊顶博物馆</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="eight.html">定制生活馆</a>
                    <a href="eight.html">生活DIY</a>
                    <a href="live_museum.html">百套案例</a>
                    <a href="live_museum.html">万城万景</a>
                    <a href="remould.html">旧屋改造</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="news.html">新闻中心</a>
                    <a href="news.html">企业新闻</a>
                    <a href="news.html">市场新闻</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="javascript:;">品牌见证</a>
                    <a href="javascript:;">设计师</a>
                    <a href="cooperation.html">大咖品推官</a>
                    <a href="say.html">TA有话说</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="service.html">服务中心</a>
                    <a href="service.html#customer">客服中心</a>
                    <a href="service.html#need">客户中心</a>
                    <a href="contact.html">我要反馈</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="join.html">招商合作</a>
                    <a href="join.html">加盟共赢</a>
                    <a href="cooperate-people.html">商学院</a>
                    <a href="pos.html">大商样板</a>
                    <a href="live-grid-sketch.html">大单分享</a>
                </div>
                <div class="footer-center-left-item">
                    <a href="contact.html">联系我们</a>
                    <a href="productSearch.html">防伪查询</a>
                </div>
            </div>
        </div>
        <div class="footer-center-right">
            <div class="footer-center-txt1">{$contact.str_1}</div>
            <div class="footer-center-txt2">{$contact.str_2}</div>
            <div class="footer-center-txt3">{$contact.str_3}</div>
            <div class="footer-center-txt4">{$contact.str_4}</div>
            <div class="footer-center-txt5">
                <img src="{$contact.pic_1}" alt="">
                <img src="{$contact.pic_2}" alt="">
            </div>
        </div>
    </div>
    <div class="bottom">
        <p class="bottom-p">COPYRIGHTS 2020 BOSLON AL RIGHTS RESERVED. 浙ICP备09002255号-1 技术支持：PERSONAL TAILOR </p>
    </div>
</div>

<script>
    function postForm(){
        $('.tell_consultation_box').show()
    }

</script>